
.topnav {
    background-color: rgb(203, 31, 31);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  #d2{
    text-align: center; 
        font-family:fantasy,sans-serif;
        font-size: larger;
        color: #ddd;
  }
#img{
    background-image: url(IMGG.jpg);
}
#d3{
    text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        color: #ddd;
  }
  #d4{
    text-align: center;  
  }
  #d6{
    text-align: center;
    color: rgb(231, 193, 25);
        
  }
  .back-container {
    background-color: transparent;
    padding: 100px 0;
    background-repeat: norepeat;
    background-position: center;
    text-align: center;
    color: #1864ab;
    font-size: 1.7em;
    font-style: bold;
    
  }
  
  .overlay {
    margin:  50px;
    padding: 110px;
    text-align: center;
    background-color: #edf2ff;
    /*setting alpha = 0.3*/
    background: rgba(65, 69, 89, 0.5);
    border-radius: 5px;
  }

  .slash {
    color: white;
  }
h1,h3 {
  font-family: 'SpaceType', sans-serif;
                                                        
}